@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './components.css';
@import 'tailwindcss/utilities';

body {
  background-color: #edf2f7;
}

.modal::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  margin: 0;
  visibility: hidden;
  transition: all .3 ease;
}

.sidebar::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 2px;
  background: #d2dce5;
  height: 20px;
}

.sidebar:hover::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar {
  visibility: visible;
}

.modal:hover::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar {
  visibility: visible;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}
